.cardProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #4c7cf4;
    border-radius: 5%;
    img{
        width: 380px;
        border-radius: 5%;
        margin: 10px;
    }
    h3{
        color: #4c7cf4;
        margin: 0;
    }
    button{
        border: 1px solid #4c7cf4;
        border-radius: 20%;
        color: #4c7cf4;
        padding: 15px;
    }
}