header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4c7cf4;
    padding: 10px;
}

.logo{
    margin: 10px;
    width: 110px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style-type: none;
    margin: 15px;
    a{
        text-decoration: none;
        color: white;
    }
}