.itemCard{
    width: 300px;
    border: 1px solid #4c7cf4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        margin: 0 auto 10px auto;
    }
    .countButtons{
        width: 100px;
        display: flex;
        justify-content: space-around;
    }
}
